# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [24]:
city_table= pd.read_csv("city_data.csv")

city_table.head()

,City,Lat,Lon,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date
0,haines junction,60.7522,-137.5108,53.60,28,1,8.05,CA,1618881197
1,rikitea,-23.1203,-134.9692,78.10,72,4,9.28,PF,1618881200
2,punta arenas,-53.1500,-70.9167,42.80,61,0,17.27,CL,1618881211
3,mataura,-46.1927,168.8643,66.99,57,0,5.99,NZ,1618881214
4,tasiilaq,65.6145,-37.6368,24.80,58,75,5.75,GL,1618881218

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [42]:
coordinates = city_table[["Lat", "Lon"]]
locations = city_table["Humidity"].astype(float)

fig = gmaps.figure()
heatmap = gmaps.heatmap_layer(coordinates, weights = locations, dissipating=False, point_radius= 5)
fig.add_layer(heatmap)
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
hoteldf = pd.DataFrame()
perfect_weather_city = city_table.loc[(city_table["Max_Temp"] > 70) & (city_table["Max_Temp"] < 78) & 
                                  (city_table["Wind_Speed"] < 10) & 
                                  (city_table["Cloudiness"] == 0)]
perfect_weather_city

,City,Lat,Lon,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date
78,sakakah,29.9697,40.2064,71.60,18,0,9.22,SA,1618881490
161,pedras de fogo,-7.4019,-35.1164,77.00,94,0,1.66,BR,1618881807
274,touros,-5.1989,-35.4608,75.20,94,0,2.30,BR,1618882308
335,cordoba,-31.4135,-64.1811,72.00,83,0,6.91,AR,1618882551
343,bandar-e lengeh,26.5579,54.8807,71.60,88,0,3.02,IR,1618882586
383,catalina,32.5056,-110.9211,77.00,18,0,5.01,US,1618882746
459,ribas do rio pardo,-20.4431,-53.7592,70.79,44,0,4.38,BR,1618883037
511,cabedelo,-6.9811,-34.8339,77.00,94,0,5.68,BR,1618883233
515,saint-paul,-21.0096,55.2707,73.99,78,0,4.61,RE,1618883247
547,manicore,-5.8092,-61.3003,77.00,94,0,3.44,BR,1618883370

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [31]:

coordinates = perfect_weather_city[["Lat", "Lon", "City", "Country"]]

for index, row in coordinates.iterrows():

    target_coordinates = f"{row.Lat}, {row.Lon}"
    target_search = "Hotel"
    radius = 5000
    
    params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": radius,
    "key": g_key
    }

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    response = requests.get(base_url, params=params)
    places_data = response.json()
    try:
        hoteldf.loc[index, "Hotel_Name"] = places_data["results"][0]["name"]
        hoteldf.loc[index, "Lat"] = row.Lat
        hoteldf.loc[index, "Lon"] = row.Lon
        hoteldf.loc[index, "City_Name"] = row.City
        hoteldf.loc[index, "Country"] = row.Country
    except:
        pass
hoteldf

,Hotel_Name,Lat,Lon,City_Name,Country
78,Alnuzl Special Hotel,29.9697,40.2064,sakakah,SA
161,Pousada Cruzeiro,-7.4019,-35.1164,pedras de fogo,BR
274,Hotel Vila Gale Touros,-5.1989,-35.4608,touros,BR
335,Selina Nueva Cordoba,-31.4135,-64.1811,cordoba,AR
343,Diplomat Hotel,26.5579,54.8807,bandar-e lengeh,IR
383,Catalina Inn,32.5056,-110.9211,catalina,US
459,Hotel Ideal,-20.4431,-53.7592,ribas do rio pardo,BR
511,Hotel Almagre,-6.9811,-34.8339,cabedelo,BR
515,Hôtel & Spa Le Saint Alexis,-21.0096,55.2707,saint-paul,RE
547,Hotel Durval,-5.8092,-61.3003,manicore,BR

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [36]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel_Name}</dd>
<dt>City</dt><dd>{City_Name}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hoteldf.iterrows()]
locations = hoteldf[["Lat", "Lon"]]

In [38]:
# Add marker layer ontop of heat map
markers =gmaps.marker_layer(locations, info_box_content = hotel_info, display_info_box =True)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))